body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

span {
    color: orange;
}

.university {
    color: grey;
}

#first-section {
    display: flex;
}

.section-1 {
    width: 50%;
    padding-left: 5%;
}



.abu-huraira {
    text-decoration: none;
    color: wheat;
    background-image: linear-gradient(hotpink, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 800;

}

#first-section {
    background-image: url(upload-images/top-banner.png);
    background-repeat: no-repeat;

}

.second-part {

    width: 50%;



}

.second-part img {
    width: 75%;
}



.second-part h1 {
    color: tomato;
}

.second-part a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 800;
    background-image: linear-gradient(hotpink, tomato);
    padding: 10px 30px;
    border-radius: 5px;

}

#second-sec {
    display: flex;
    background-image: url(upload-images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

#third-sec {
    display: flex;
    background-image: url(upload-images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#third-sec h1 {
    color: tomato;
}

#third-sec h3 {
    color: crimson;
}

#third-sec p {
    color: darkgray;
}

#hangout {
    color: hotpink;
    font-size: 50px;
}

.third-part {
    width: 40%;
    box-shadow: 10px 10px 50px lightblue;
    margin: 10px 50px 100px 50px;
    padding: 20px;
    border-radius: 5px;
}

#passion {
    border-left: 5px solid blue;
}

#hobby {
    border-left: 5px solid orangered;
}

#last-sec {
    text-align: center;
}

#submit {
    color: white;
    background-image: linear-gradient(orangered, hotpink);
    padding: 5px 20px;
    font-weight: 800;
    border-radius: 5px;
    font-size: 20px;
}

#last-sec i {
    color: dodgerblue;
    font-size: 25px;
}

footer {
    text-align: center;
}